<div id="projects-to-approve" class="row">
    <!-- Password Prompt -->
    <div ng-show="!verified" class="password-input">
        Password:
        <input type="password" ng-model="password"></input>
        <br/>
        <div class="adm-btn" ng-click="tryPassword()">Show</div>
    </div>
    
    <!-- All Non Approved Projects -->
    <div ng-repeat="project in projects" class="gallery-card col-md-6 col-sm-12 col-lg-4">
        <div class="adm-btn" ng-click="approveProject($index)">APPROVE IT</div>
        <div class="card-container">
            <div class="card-banner" style="background-color: {{project.background_color}};">
                <div class="card-image-container">
                    <img class="banner-icon" ng-src="/assets/icons/category-icons/{{project.category.name}}w.svg" />
                </div>
                <p ng-click="openProject(project._id, $index)" class="banner-text module line-clamp">
                    {{ project.title | uppercase}}
                </p>
            </div>
            <div class="card-bar-section">
                <img class="progress-image" height="35px" src="/assets/icons/card-icons/Fund.svg" />
                <p class="progress-bar-label">
                    FUNDED
                    <br/> 
                    {{ (project.funded / 1000) | number:0 }}k / {{ (project.budget / 1000) | number:0}}k 
                    </p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.budget === 0 ? 100 : project.funded / project.budget * 100 }}%;"></div>
                </div>
                <img class="progress-image" height="35px" src="/assets/icons/card-icons/Clock.svg" />
                <p class="progress-bar-label">DAYS LEFT
                    <br/> {{ project.days_left | number:0 }} / 30 </p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ ((30 - project.days_left) / 30) * 100 }}%;"></div>
                </div>
                <img class="progress-image" height="35px" src="/assets/icons/card-icons/Star.svg" style="display: inline;" />
                <p class="progress-bar-label">ENDORSED
                    <br/> {{ project.followers.length }} times </p>
            </div>
            <div class="card-info-section">
                <p class="card-description">{{project.summary}}</p>
                <a id="card-user-photo" href="/#/profileView/{{project.creator._id}}">
                    <p class="card-user-name">{{ project.creator.first_name + " " + project.creator.last_name | uppercase}}</p>
                    <img height="65px" class="media-object img-circle" ng-src="{{ project.creator.image }}" />
                </a>
            </div>
        </div>
    </div>
    
    <!-- Message to indicate there are no new projects, shown only if there are no projects -->
    <h1 ng-show="projects.length === 0">No New Project Submissions</h1>
</div>
