<div id="project-gallery" class="row">
    <div>
        <!-- Filter Bar -->
        <div id="gallery-filters" class="row">
            <div class="filter-category-section col-md-5">
                <div class="col-md-3" ng-repeat="category in categories">
                    <img ng-src="/assets/icons/category-icons/{{category.name}}w.svg" ng-click="setCategoryFilter(category)" />
                    <p>{{category.name}}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-4">
                    <img ng-src="/assets/icons/card-icons/Starw.svg" ng-click="setOrderFilter('follower_count')" />
                    <p>Followers</p>
                </div>
                <div class="col-md-5">
                    <img ng-src="/assets/icons/card-icons/Clockw.svg" ng-click="setOrderFilter('days_left')" />
                    <p>Days Left</p>
                </div>
                <div class="col-md-3">
                    <img ng-src="/assets/icons/card-icons/Fundw.svg" ng-click="setOrderFilter('funded')" />
                    <p>Funded</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-6">
                    <img ng-src="/assets/icons/category-icons/Ascendingw.svg" ng-click="setOrder('ascending')" />
                    <p>Ascending</p>
                </div>
                <div class="col-md-6">
                    <img ng-src="/assets/icons/category-icons/Descendingw.svg" ng-click="setOrder('descending')" />
                    <p>Descending</p>
                </div>
            </div>
        </div>
        <div>
            <div ng-repeat="project in (filteredProjects = ( projects | filter:$root.searchQuery | categoryFilter:categoryFilterId | orderBy:orderByFilter ))" class="col-md-6 col-sm-12 col-lg-4">
                <div class="card-container">
                    <div class="card-banner" style="background-color: {{project.background_color}};">
                        <img class="banner-icon" width="60px" ng-src="/assets/icons/category-icons/{{project.category.name}}w.svg" />
                        <p class="banner-text">
                            <span class="card-title" ng-click="openProject(project._id, $index)">{{ project.title | uppercase}}</span>
                            <br/>
                            <span class="card-creator">{{ project.creator.first_name + " " + project.creator.last_name  | uppercase}}</span>
                        </p>
                        <img height="15%" class="banner-follow" ng-src="{{project.starImage}}" ng-click="followProject($index)" />
                    </div>
                    <div class="card-bar-section">
                        <img class="progress-image" height="35px" src="/assets/icons/card-icons/Fund.svg" />
                        <p class="progress-bar-label">FUNDED
                            <br/> {{ (project.funded / 1000) | number:0 }}k / {{ (project.budget / 1000) | number:0}}k </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.funded / project.budget * 100 }}%;"></div>
                        </div>
                        <img class="progress-image" height="35px" src="/assets/icons/card-icons/Clock.svg" />
                        <p class="progress-bar-label">DAYS LEFT
                            <br/> {{ project.days_left | number:0 }} / 30 </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ ((30 - project.days_left) / 30) * 100 }}%;"></div>
                        </div>
                        <img class="progress-image" height="35px" src="/assets/icons/card-icons/Star.svg" style="display: inline;" />
                        <p class="progress-bar-label">ENDORSED
                            <br/> {{ project.followers.length }} times </p>
                    </div>
                    <div class="card-info-section">
                        <p class="card-description">{{project.description}}</p>
                        <a href="/#/profileView/{{project.creator._id}}"><img height="65px" class="media-object img-circle" ng-src="{{ project.creator.image }}" style="float: right;" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
