<div id="project-gallery" class="row">
    <div>
        <!-- Filter Bar -->
        <div id="gallery-filters" class="row">
            <div class="filter-category-section col-md-5 col-sm-5 col-xs-12">
                <div class="col-md-3 col-sm-3 col-xs-3" ng-repeat="category in categories">
                    <img ng-src="{{category.image}}" ng-click="setCategoryFilter(category, $index)" />
                    <p>{{category.name}}</p>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="filter-bar"></div>
                <div class="col-md-4 col-sm-4 col-xs-4" ng-repeat="orderBy in orderByFilters">
                    <img ng-src="{{orderBy.image}}" ng-click="setOrderFilter(orderBy.filter_name, $index)" />
                    <p>{{orderBy.display_name}}</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="filter-bar"></div>
                <div class="col-md-6 col-sm-6 col-xs-6" ng-repeat="filterOrder in filterOrders">
                    <img ng-src="{{filterOrder.image}}" ng-click="setOrder(filterOrder.order_name, $index)" />
                    <p>{{filterOrder.display_name}}</p>
                </div>
            </div>
        </div>
        <div>
            <div ng-repeat="project in (filteredProjects = ( projects | filter:$root.searchQuery | categoryFilter:categoryFilterId | orderBy:orderByFilter ))" class="gallery-card col-md-6 col-sm-12 col-lg-4">
                <div class="card-container">
                    <div class="card-banner" style="background-color: {{project.background_color}};">
                        <div class="card-image-container">
                            <img class="banner-icon" ng-src="/assets/icons/category-icons/{{project.category.name}}w.svg" />
                        </div>
                        <p ng-click="openProject(project._id, $index)" class="banner-text module line-clamp">
                            {{ project.title | uppercase}}
                        </p>
                        <img height="15%" class="banner-follow" ng-src="{{project.starImage}}" ng-click="followProject($index)" />
                    </div>
                    <div class="card-bar-section">
                        <img class="progress-image" height="35px" src="/assets/icons/card-icons/Fund.svg" />
                        <p class="progress-bar-label">FUNDED
                            <br/> {{ (project.funded / 1000) | number:0 }}k / {{ (project.budget / 1000) | number:0}}k </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.budget === 0 ? 100 : project.funded / project.budget * 100 }}%;"></div>
                        </div>
                        <img class="progress-image" height="35px" src="/assets/icons/card-icons/Clock.svg" />
                        <p class="progress-bar-label">DAYS LEFT
                            <br/> {{ project.days_left | number:0 }} / 30 </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ ((30 - project.days_left) / 30) * 100 }}%;"></div>
                        </div>
                        <img class="progress-image" height="35px" src="/assets/icons/card-icons/Star.svg" style="display: inline;" />
                        <p class="progress-bar-label">ENDORSED
                            <br/> {{ project.followers.length }} times </p>
                    </div>
                    <div class="card-info-section">
                        <p class="card-description module line-clamp">{{project.summary}}</p>
                        <a id="card-user-photo" href="/#/profileView/{{project.creator._id}}">
                            <p class="card-user-name">{{ project.creator.first_name + " " + project.creator.last_name  | uppercase}}</p>
                            <img height="65px" class="media-object img-circle" ng-src="{{ project.creator.image }}"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
