body {
    padding-top: 80px;
    margin: 0;
    padding: 0;
}
/* Sweet Alert */
.sweet-alert {
    font-family: 'Oxygen', sans-serif !important;
}

.sweet-alert .confirm {
    background-color: #aacf37 !important;
}


.nav,
.pagination,
.panel-title a {
    cursor: pointer;
}

.create-project.modal {
    overflow: scroll;
}


/* ======= Forms ======== */

.ng-invalid.ng-dirty {
    border-color: red;
}

.ng-valid.ng-dirty {
    border-color: green;
}


/* Header */

header .navbar {
    border-color: #b9bbbc;
    margin-bottom: 0px;
}

header .navbar .container-fluid {
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
}

header .navbar .media p {
    color: #979797;
    font-size: 1.2em;
}

body .carousel-control {
    opacity: 1;
}

header .navbar .media .fundit-logo img {
    margin-top: 17px;
    margin-left: 30px;
}

header .navbar .navbar-nav .a {
    margin-right: 75px;
}

header .navbar .header-button {
    margin-left: 30px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.5em;
    color: #979797;
}

.header-notification {
    color: #979797;
    font-size: 1.2em;
    font-weight: 500;
}

.header-notification:hover {
    text-decoration: none;
    color: #979797;
    cursor: pointer;
}

#profile-image {
    margin-top: -15px;
}

.header-underline {
    width: 50px;
    background: #aacf37;
    height: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

#nav-search {
    margin-top: 0px;
}

.pull-left {
    margin-left: 20px;
}

.navbar-collapse ul li a {
    padding: 0;
}

.brand-profile-image {
    margin-top: 10px;
    margin-left: 0px;
}
/* ========= Home Page ========= */

#myCarousel {
    border-top: 2px #aacf37 solid;
    border-bottom: 1px #aacf37 solid;
    background-color: whitesmoke;
}

#myCarousel .item img {
    width: 80%;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
}

#myCarousel .carousel-button {
    height: 100px;
    
}

#myCarousel .carousel-control {
    top: 45%;
}

#myCarousel .carousel-title {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px;
    color: yellowgreen;
    text-decoration: none;
    font-size: 2.5em;
}

#myCarousel .carousel-title .carousel-description {
    display: inline-block;
    font-size: 0.5em;
    word-wrap: break-word;
    width: 80%;
    line-height: 110%;
}

#myCarousel .item {
    height: auto;
    margin: auto;
    text-align: center;
}

#myCarousel .carousel-control.right {
    right: 15px;
}

#myCarousel .carousel-control.left {
    left: 15px;
}


#gallery-filters,
#user-filters { 
    position: absolute;
    top: 105px;
    left: 0px;
    padding: 0px;
    z-index: 1;
    background: lightgrey;
    
    height: auto;
    width: 100%;
}

#gallery-filters.height-zero,
#user-filters.height-zero {
    height: 0px;
    visibility: hidden; 
}

#gallery-filters img,
#user-filters img {
    display: block;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-top: 20px;
}

#gallery-filters p,
#user-filters p {
    text-align: center;
    font-size: 1em;
    margin-top: 5px;
}

.filter-text {
    color: white;
}

.filter-hidden {
    height: 50px;
    position: absolute;
    z-index: 100;
    top: 125px;
    width: 100%;
}

.filter-bar {
    position: absolute;
    top: 25%;
    left: 0;
    
    height: 50%;
    width: 7px;
    
    border-radius: 10px;
    background-color: #aacf37;
}

/* Project Gallery Card */

.project-gallery-image {
    width: 100%;
}

.project-gallery-description {
    height: 100px;
    overflow: hidden;
}

.project-gallery-description:before {
    position: absolute;
    content: '';
    height: 100px;
    width: 100%;
    pointer-events: none;
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
}

.card-container {
    font-family: 'Oxygen', sans-serif;
    height: 280px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: whitesmoke;
    border-radius: 8px;
    padding-left: 0px;
    padding-right: 0px;
    border: 2px solid #b9bbbc;
}

.card-container > .card-banner {
    width: 100%;
    height: 28%;
    border-radius: 5px;
}

.card-container > .card-bar-section {
    float: left;
    width: auto;
    min-width: 30%;
    height: 72%;
    padding-top: 5px;
    border-right: solid 2px #b9bbbc;
}

.card-container > .card-info-section {
    float: left;
    width: auto;
    max-width: 65.5%;
    padding: 21px;
    padding-right: 0px;
    background-color: whitesmoke;
    border-radius: 0 0 8px 0;
}

.card-container > .card-info-section > .card-description {
    display: -webkit-box;
    height: 54%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow-y: hidden;
}

.module {
  overflow: hidden;
  margin: 10px;
}

.line-clamp {
      max-height: 5.6em;
    }
.line-clamp:after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 70%;
      height: 1.2em;
 }

@supports(-webkit-line-clamp: 3) {
    .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        max-height:5.6em; /* I needed this to get it to work */
        height: auto;
    }
    .line-clamp:after {
        display: none;
    }
}

.banner-icon {
    display: block;
    margin-top: 8px;
    width: 60px;
    margin-right: auto;
    margin-left: auto;
}

.card-container .card-banner .banner-text {
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 31px;
    text-overflow: ellipsis;
    width: 57%;
    font-size: 1.5em;
}

.banner-text:hover {
    cursor: pointer;
}


.banner-text.module {
  overflow: hidden;
  margin: 10px;
}

.banner-text.line-clamp {
      max-height: 5.6em;
    }
.banner-text.line-clamp:after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 70%;
      height: 1.2em;
 }

@supports(-webkit-line-clamp: 3) {
    .banner-text.line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        max-height:5.6em; /* I needed this to get it to work */
        height: auto;
    }
    .banner-text.line-clamp:after {
        display: none;
    }
}

.card-image-container {
    min-width: 30%;
    float: left;
    
}

.banner-follow {
    position: absolute;
    top: 30px;
    right: 35px;
}
.banner-follow:hover {
    cursor: pointer;
}

.card-title {
    font-size: 1.7em;
    color: #484A4A;
    font-weight: bold;
    margin-top: 15px;
}

.card-title:hover {
    cursor: pointer;
}

.card-creator {
    font-size: 1.1em;
    color: white;
    line-height: 0px;
}

.category-label {
    background-color: #aacf37;
    border-radius: 5px;
    text-align: center;
    color: gray;
    vertical-align: middle;
    line-height: 50px;
    height: 50px;
    margin: 5px;
}

.card-bar-section > .progress > .progress-bar,
.card-bar-section > .progress {
    margin: 0;
    height: 7px;
    width: 80%;
    border-radius: 4px 4px 4px 4px;
    background-image: none;
    margin-bottom: 3px;
}

.card-bar-section > .progress > .progress-bar {
    background-color: #aacf37;
}

.card-bar-section > .progress {
    margin-left: 10px;
    background-color: #b9bbbc;
}

.progress > .progress-bar-section {
    margin: 0;
}

.progress-bar-label {
    display: inline-block;
    margin-top: 10px;
}

.progress-image {
    vertical-align: top;
    margin-top: 5px;
    margin-left: 6px;
}

#card-user-photo {
    position: absolute;
    display: block;
    bottom: 25px;
    right: 25px;
}

#card-user-photo img {
    float: left;
}

.card-user-name {
    position: relative;
    top: 45px;
    right: 10px;
    float: left;
    text-decoration: none;
    color: black;
}

/* ======== Project Gallery ======== */

#project-gallery {
    max-height: 100%;
    height: 83vh;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    padding-top: 70px;
}

.project-filter-item.ng-enter,
.project-filter-item.ng-leave {
    
}

.project-filter-item.ng-leave-active,
.project-filter-item.ng-enter {
    
}

.project-filter-item.ng-enter-active,
.project-filter-item.ng-leave {
    
}


/* ========= Create Project Page ======= */

#add-resource-button {
    display: block;
    float: right;
    background: none;
    border: none;
}

#add-resource-button:hover {
    cursor: pointer;
}

.resource-link-icon {
    position: relative;
    float: right;
    right: 10px;
    top: -44px;
    height: 40px;
}

.resource-icon {
    height: 40px;
    margin-right: -36px;
}

.create-project .added-resource {
    padding: 0px;
}

.added-resource p {
    background: white;
    border-radius: 8px;
    border: 1px solid #b9bbbc;
    padding-left: 16px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    color: black;
}

.project-modal.create-project .modal-dialog {
    width: 80%;
    font-family: 'Oxygen', sans-serif;
}

.project-modal.create-project .modal-body {
    margin-top: 60px;
    margin-bottom: 60px;
}

.create-project .form-container {
    background: #E2E2E2;
    padding: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #979797;
}

.create-project .form-container .row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.create-project .form-container textarea,
.create-project .form-container input {
    border-radius: 8px;
    outline: none;
    border: 1px solid #b9bbbc;
    margin-bottom: 20px;
}

.create-project .form-container textarea {
    resize: none;
}

.create-project .form-container input[type=date] {
    font-size: 1.5em;
}

#create-project-category {
    height: 40px;
    border: 1px solid #b9bbbc;
    font-size: 1.5em;
    color: #979797;
    width: 300px;
    margin-left: 25px;
}

#create-project-category.create-category {
    color: black;
}

#file {
    padding-left: 0px;
}

#upload-project-file {
    height: 200px;
    border: 5px dotted #979797;
    margin-bottom: 25px;
}

#upload-project-image {
    width: 100%;
    height:100%;
    border-radius: 0px;
    padding-top: 60px;
    padding-left: 35%;
    color: #979797;
}

.upload-project-image-text {
    position: absolute;
    top: 225px;
    left: 28%;
    font-size: 1.5em;
    color: #979797;
}

#create-project-date-text {
    font-size: 1.5em;
    color: #979797;
}

.create-project .form-container .resource {
    margin-bottom: 5px;
}

.create-project .form-container .resource-input-role {
    margin-top: 20px;
}

.create-project .create-project-buttons button {
    display: block;
    float: right;
    margin-top: 10px;
    color: white;
    padding: 10px;
    min-width: 150px;
    border-radius: 10px;
    font-size: 1.5em;
}

.create-project .create-project-buttons button.left {
    float: left;
    margin-right: 20px;
}

.create-project .create-project-buttons button.right {
    float: right;
    margin-left: -5px;
}

button.green {
    background-color: #aacf37;
}

.create-project h1 {
    color: #aacf37;
}

.create-project-sidebar-user-info {
    border-right: 1px solid black;
}

#create-project-main {
    border-left: 1px solid #b9bbbc;
    padding: 30px;
}

#create-project-category-icon {
    height: 150px;
    margin: 0px;
    padding: 25px;
}

#create-project-category-icon img {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.create-project .modal-body .create-user-info {
    padding: 0px;
}

.create-project .modal-dialog .modal-content .modal-body {
    margin-top: 0px;
    margin-bottom: 0px;
}

.create-user-info .col-md-12 p {
    margin-bottom: 0px;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 1.2em;
    font-weight: 700;
}

#create-tool-tip {
    margin-top: 80px;
    margin-left: 0px;
}

#create-tool-tip img {
    display: block;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

#create-tool-tip p {
    padding-left: 15px;
}

#create-tool-tip p {
    font-size: 1em;
    font-weight: 500;
}

.create-user-info .col-md-12 {
    margin-left: 15px;
}

.create-project .form-container input[type=text],
.create-project .form-container input[type=number] {
    height: 40px;
    line-height: 40px;
    font-size: 24px;
}

.create-project .form-container input[type=file] {
    border: none;
}

.create-project .form-container textarea {
    line-height: 30px;
    font-size: 24px;
}


.create-project .creator-img {
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

/* ========= User Page ======= */

.user-image {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #b9bbbc;
}

#user-projects {
    height: 85vh;
    overflow-y: scroll;
    border-left: 1px solid #b9bbbc;
}

#profileView {
    max-height: 100%;
    width: 100%;
    overflow-y: scroll;
    font-family: 'Oxygen', sans-serif;
    padding-top: 86px;
}

#profile-info {
    padding-top:20px;
    height: 100%;
}

.profile-info-border {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
}

#profileView #profile-info .profile-info-border .profile-details {
    padding: 0px;
    border-top: 1px #b9bbbc solid;
}

#profileView #profile-info .profile-info-border .profile-details div {
    padding: 0px;
    font-size: 12px;
}

#profileView #profile-info .profile-info-border .profile-details h3 {
    font-size: 15px;
    margin-bottom: 0px;
}

#profile-info div:nth-child(1) p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1 .5em;
    text-align: center;
}

.profile-details div:nth-child(1) {
    margin-top: 10px;
}


/* Project View (Modal) */

#projectCarousel {
    margin-top: 2px;
}

.project-view-slide > .project-view-container {
    width: 100%;
    font-family: 'Oxygen', sans-serif;
}

.project-view-sidebar .creator-img {
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.project-view-sidebar .creator-img:hover {
    cursor: pointer;
}

.project-view-sidebar .project-view-creator-name {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 5px;
}

.project-view-sidebar .side-cat-icon {
    border-radius: 5px 0px 0px 0px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 25px;
}

.project-view-sidebar .side-cat-icon img {
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.project-view-sidebar .project-sidebar-user-info {
    color: #979797;
}

.project-view-sidebar .project-sidebar-user-info p {
    font-size: 0.9em;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 10px;
    color: black;
}

.project-view-sidebar {
    border-right: 1px solid #979797;
}

.project-view-sidebar {
    padding-bottom: 20px;
}

.project-sidebar-user-info .col-sm-2 {
    padding-right: 0px;
}


/* Progress bar and Overview Section of Project View*/

.project-view-main img.progress-image {
    display: block;
    float: left;
    height: 55px;
    margin-top: 10px;
}

.numbers-section .progress-bar-group:nth-child(1) {
    margin-top: -15px;
}

.project-view-main .progress,
.project-view-main .progress-bar {
    width: 100%;
    height: 10px;
    background-image: none;
    border-radius: 0px;
    margin-bottom: -10px;
    border-radius: 0px 5px 5px 0px;
}

.project-view-main .progress {
    background-color: #b9bbbc;
    float: left;
}

.project-view-main .progress-bar {
    margin-left: 0px;
    background-color: #aacf37;
}

.progress-bar-label > .progress-bar-label-name {
    float: left;
    margin-top: 15px;
    font-size: 1.2em;
    margin-left: 10px;
}

.progress-bar-label > .progress-bar-label-value {
    float: right;
}

.progress-bar-label > .progress-bar-label-value div:nth-child(1) {
    text-align: right;
    font-size: 1.5em;
}

.progress-bar-label > .progress-bar-label-value div:nth-child(2) {
    font-size: 1.2em;
}

.image-numbers .progress-bar-label {
    display: block;
    float: left;
    width: 75%;
}

.project-progress-group {
    clear: left;
}

.project-progress-group,
.progress-bar-group {
    margin-bottom: 20px;
}

.fundit-form {
    clear: left;
}

.project-view-container .image-numbers .col-md-5 h3 {
    margin: 0;
}

.project-view-container .project-view-main .project-title {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #aacf37;
}

.project-view-container .project-view-main .project-title h1 {
    font-weight: 300;
}

.project-image {
    width: 100%;
    height: 277px;    
}

.project-view-main .row {
    margin-bottom: 0px;
}

.project-view-main .details-section {
    margin-bottom: 0px;
}

.project-view-main .text .col-md-6:nth-child(1) {
    border-right: 1px solid #b9bbbc;
}

.project-view-main .text .col-md-6 p {
    margin-bottom: 50px;
}

.project-view-main .project-follow {
    margin-top: 30px;
}

.project-view-main .details-section div:nth-child(1) {
    border-right: 1px solid black;
}

.fundit-form {
    margin-top: 50px;
}

#projectCarousel .carousel-button {
    height: 50px;
    margin-top: 50vh;
}

.project-view-section-header {
    font-size: 2em;
    margin-top: 35px;
}

.project-view-section-text {
    font-size: 1.2em;
    width: 90%;
}

.main-second {
    border-left: 1px solid #979797;
    padding-bottom: 30px;
}

.project-view-main div p {
    margin-top: 10px;
    font-weight: lighter;
}

.project-modal .modal-header {
    border-bottom: none;
    min-height: 0px;
    height: 0px;
    padding: 0px;
}

.project-modal > .modal-dialog {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 74px;
}

.project-modal .modal-body {
    padding: 0;
}

#projectCarousel .carousel-inner {
    top: -2px;
}

#projectCarousel .carousel-control.right {
    position: fixed;
    right: -85px;
}

#projectCarousel .carousel-control.left {
    position: fixed;
    left: -85px;
}

.project-modal .modal-header button.close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 4em;
}

.project-view-main div .summary {
    margin-top: 20px;
}

#main-section-separator {
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
}

#main-section-separator .separator-button {
    padding: 10px;
}

#main-section-separator .separator-button img {
    display: block;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
}

#main-section-separator .separator-button img:hover {
    cursor: pointer;
}

#main-section-separator .separator-button p {
    text-align: center;
}

#main-section-separator .separator-button #fundit-button {
    width: 250px;
    margin-top: 20px;
}

#main-section-separator .separator-button #fundit-button:hover {
    cursor: pointer;
}

.project-resource {
    color: #aacf37;
}

.project-resource:hover {
    text-decoration: none;
    color: #aacf37;
}

.project-comment {
    margin-top: 20px;
    border-top: 1px solid #979797;
    height: 50px;
}

.project-comment img {
    display: block;
    float: left;
    height: 50px;
}

.project-comment p {
    float: left;
    margin-left: 20px;
}

.project-launch {
    float: left;
    font-size: 1em;
    color: #979797;
}

.project-id {
    float: right;
    font-size: 1em;
    color: #979797;
}

#add-comment {
    display: block;
    float: right;
    padding: 10px;
    
    background-color: #aacf37;
    border-radius: 5px;
    color: white;  
}

#add-comment:hover {
    cursor: pointer;
}

.project-backer a img {
    height: 65px;
}

.go-details {
    display: block;
    float: right;
    margin-right: 20px;
    padding: 10px;
    background-color: #979797;
    border-radius: 5px;
    color: white;
}

.go-details:hover {
    cursor: pointer;
}

.main-second .col-md-12 {
    padding-right: 65px;
}

/* Footer */

.footer {
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: #b9bbbc;
    border-top: 2px solid #b9bbbc;
    padding-top: 4px;
}

.footer-left {
    float: left;
    display: block;
    height: 20px;
    margin-left: 25px;
}

.scroll-button {
    float: right;
    display: block;
    margin-right: 25px;
    background: none;
    color: white;
}

.scroll-button:hover {
    cursor: pointer;
}


/* Admin */

.adm-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    padding: 10px;
    min-width: 150px;
    border-radius: 10px;
    font-size: 1.5em;
    background-color: #aacf37;
}

.adm-btn:hover {
    cursor: pointer;
}

.password-input {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.password-input input{
    width: 200px;
}


#projects-to-approve {
    max-height: 100%;
    height: 83vh;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    padding-top: 70px;
}


/* All Users View */
#users-view {
    max-height: 100%;
    height: 83vh;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    padding-top: 70px;
}

.users-user img {
    display: block;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
}

.users-user p {
    text-align: center;
}

.users-user {
    padding: 10px;
}

.users-user .name {
    font-size: 1.5em;
}

.users-user .inner {
    padding: 10px;
    background-color: #E2E2E2;
}

.adm-btn.gold {
    background-color: gold;
}

.adm-btn.green {
    background-color: #aacf37;
}

#user-search {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#user-search input {
    width: 200px;
}


/* Fund Project */
.fund-modal {
    z-index: 2000 !important;
}

.fund-modal .modal-dialog {
    width: 37%;
    margin-top: 18%;
}