body {
  padding-top: 80px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}





/* ======= Forms ======== */
.ng-invalid.ng-dirty {
	border-color: red;
}

.ng-valid.ng-dirty {
	border-color: green;
}


/* Use media inside of nav bar without starting a new line */
.navbar-header > .media {
	width: 170px;
}


#profile-image {
  margin-bottom: 10px;
}










/* ========= Home Page ========= */
#myCarousel img {
  	min-width: 100%;
  	height: 400px;
}

#myCarousel .carousel-title {
    position: absolute;
    margin: auto;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    height:150px;
    
    color: yellowgreen;
    text-decoration: none;
    font-size: 2.5em;
}

#myCarousel .carousel-title .carousel-description {
  display: inline-block;
  font-size: 0.5em;
  word-wrap: break-word;
  width: 80%;
  line-height: 110%;
}

#myCarousel .item {
    height:auto;
    margin: auto;
    text-align:center;
}

.project-gallery-image {
  width: 100%;
}

.project-gallery {
  margin-bottom: 50px;  
}

.project-gallery-more-button {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.project-gallery-description {
  height: 100px;
  overflow: hidden; 
}

.project-gallery-description:before {
  position: absolute;
  content: '';
  height: 100px;
  width: 100%;
  pointer-events: none;
  /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
  background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.category-label {
  background-color: lightgreen;
  border-radius: 5px;
  text-align: center;
  color: gray;
  vertical-align: middle;
  line-height: 50px;
  height: 50px;
  margin: 5px;
}











/* ======== Project Page ======== */
.project-image {
  height: 200px;
}


/* ========= Create Project Page ======= */
#add-resource-button {
  border-radius: 5px;
  background-color: aqua;
}





/* ========= User Page ======= */
.user-image {
  height: 200px;
}