<div id="profileView" class="row">
	<div class="col-md-3">
		<img class="user-image media-object img-circle" ng-src="{{ user.image }}"/>
		<h1>Username</h1>
		{{ user.first_name }}
		<h3>Name</h3>
		{{ user.first_name  + " " +  user.last_name }}
		<h3>Title</h3>
		{{ user.title }}
		<h3>Department</h3>
		{{ user.department }}
		<h3>Location</h3>
		{{ user.location }}
		<h3>Email</h3>
		{{ user.email }}
		<h3>Is A Budget Owner?</h3>
		{{ user.is_budget_owner }}
		<h3>Is An Approver?</h3>
		{{ user.is_approver }}
	</div>
	<div id="user-projects" class="col-md-9">
		<span class="glyphicon glyphicon-chevron-down" aria-hidden="true" ng-click="dropDownClick()"></span>
		<div id="user-filters" ng-show="showFilters">
			<input type="radio" name="category" ng-click="setInProgress()">In Progress
			<input type="radio" name="category" ng-click="setExpired()">Expired
			<input type="radio" name="category" ng-click="setFullyFunded()">Fully Funded
			<input type="radio" name="category" ng-click="setFollowing()">Following
		</div>
		<div ng-repeat="project in (filteredProjects = ( projects | projectFilter:filterBy ))" class="col-md-6 col-sm-12 col-lg-6 project-gallery project-filter-item" ng-show="showOwn">
			<div class="card-container">
				<div class="card-banner" style="background-color: {{project.background_color}};">
					<img class="banner-icon" height="80%" ng-src="/assets/icons/category-icons/{{project.category.name}}w.svg"/>
					<p class="banner-text">
						<span class="card-title" ng-click="openProject(project._id, $index)">{{ project.title | uppercase}}</span><br/>
						<span class="card-creator">{{ project.creator.first_name + " " + project.creator.last_name  | uppercase}}</span>
					</p>
					<img height="15%" class="banner-follow" ng-src="/assets/icons/card-icons/starw.svg"/>
				</div>
				<div class="card-bar-section">
				    <img class="progress-image" height="35px" src="/assets/icons/card-icons/star.svg" style="display: inline;"/>
				      <p class="progress-bar-label">SUPPORT<br/>
					  {{ project.followers.length }} </p>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.funded / project.budget }}%;"></div>
					</div>
					  <img class="progress-image" height="35px" src="/assets/icons/card-icons/fund.svg"/>
					  <p class="progress-bar-label">FUNDED<br/>
					  {{ (project.funded / 1000) | number:0 }}k  / {{ (project.budget / 1000) | number:0}}k </p>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ ((30 - project.days_left) / 30) * 100 }}%;"></div></div>
					  <img class="progress-image" height="35px" src="/assets/icons/card-icons/clock.svg"/>
					  <p class="progress-bar-label">DAYS LEFT<br/>
					  {{ project.days_left | number:0  }} / 30 </p>

				</div>
				<div class="card-info-section">
					<p class="card-description">{{project.description}}</p>
					<img height="65px" src="/assets/images/f.svg"/>
					<img height="65px" ng-src="{{ project.creator.image }}" style="float: right;"/>
				</div>
			</div>
		</div>
		<div ng-repeat="project in following" class="col-md-6 col-sm-12 col-lg-12 project-gallery project-filter-item" ng-hide="showOwn">
			<div class="card-container" style="background-color: {{project.background_color}};">
				<div class="card-banner">
					<img class="banner-icon" height="80%" ng-src="/assets/icons/category-icons/{{project.category.name}}w.svg"/>
					<p class="banner-text">
						<span class="card-title">{{ project.title | uppercase}}</span><br/>
						<span class="card-creator">{{ project.creator.first_name + " " + project.creator.last_name  | uppercase}}</span>
					</p>
					<img height="15%" class="banner-follow" ng-src="/assets/icons/card-icons/starw.svg"/>
				</div>
				<div class="card-bar-section">
				    <img class="progress-image" height="35px" src="/assets/icons/card-icons/star.svg" style="display: inline;"/>
				      <p class="progress-bar-label">SUPPORT<br/>
					  {{ project.followers.length }} </p>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.funded / project.budget }}%;"></div>
					</div>
					  <img class="progress-image" height="35px" src="/assets/icons/card-icons/fund.svg"/>
					  <p class="progress-bar-label">FUNDED<br/>
					  {{ (project.funded / 1000) | number:0 }}k  / {{ (project.budget / 1000) | number:0}}k </p>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ ((30 - project.days_left) / 30) * 100 }}%;"></div></div>
					  <img class="progress-image" height="35px" src="/assets/icons/card-icons/clock.svg"/>
					  <p class="progress-bar-label">DAYS LEFT<br/>
					  {{ project.days_left | number:0  }} / 30 </p>

				</div>
				<div class="card-info-section">
					<p class="card-description">{{project.description}}</p>
					<img height="65px" src="/assets/images/f.svg"/>
					<img height="65px" ng-src="{{ project.creator.image }}" style="float: right;"/>
				</div>
			</div>
		</div>
	</div>
</div>