<div id="profileView" class="row">
	<div class="col-md-3">
		<img class="user-image" ng-src="{{$root.user.image}}"/>
		<h1>Username</h1>
		{{ $root.user.first_name }}
		<h3>Name</h3>
		{{ $root.user.first_name  + " " +  $root.user.last_name }}
		<h3>Title</h3>
		{{ $root.user.title }}
		<h3>Department</h3>
		{{ $root.user.department }}
		<h3>Location</h3>
		{{ $root.user.location }}
		<h3>Email</h3>
		{{ $root.user.email }}
		<h3>Is A Budget Owner?</h3>
		{{ $root.user.is_budget_owner }}
		<h3>Is An Approver?</h3>
		{{ $root.user.is_approver }}
	</div>
	<div id="user-projects" class="col-md-9">
		<span class="glyphicon glyphicon-chevron-down" aria-hidden="true" ng-click="dropDownClick()"></span>
		<div id="user-filters" ng-show="showFilters">
			<input type="radio" name="category" ng-click="setInProgress()">In Progress
			<input type="radio" name="category" ng-click="setExpired()">Expired
			<input type="radio" name="category" ng-click="setFullyFunded()">Fully Funded
			<input type="radio" name="category" ng-click="setFollowing()">Following
		</div>
		<div ng-repeat="project in (filteredProjects = ( projects | projectFilter:filterBy ))" class="col-md-3 project-gallery project-filter-item" ng-show="showOwn">
			<span ng-click="openProject(project._id, $index)"><img ng-src="{{ project.image }}" class="project-gallery-image"/></span>
			<strong>{{project.title}}</strong><br/>
			by {{ project.creator.first_name + " " + project.creator.last_name }}<br/><br/>
			<div class="project-gallery-description">{{ project.description }}</div><br/>
			<strong>Funded Percent: {{ (project.funded / project.budget) * 100 | number: 0 }}%</strong><br/>
			Start: {{ project.start_date | date }}<br/>
			End: {{ project.end_date | date }}
		</div>
		<div ng-repeat="project in following" class="col-md-3 project-gallery project-filter-item" ng-hide="showOwn">
			<span ng-click="openProject(project._id, $index)"><img ng-src="{{ project.image }}" class="project-gallery-image"/></span>
			<strong>{{project.title}}</strong><br/>
			by {{ project.creator.first_name + " " + project.creator.last_name }}<br/><br/>
			<div class="project-gallery-description">{{ project.description }}</div><br/>
			<strong>Funded Percent: {{ (project.funded / project.budget) * 100 | number: 0 }}%</strong><br/>
			Start: {{ project.start_date | date }}<br/>
			End: {{ project.end_date | date }}
		</div>
	</div>
</div>