<body ng-app="Ignite">
	<div ng-controller="IndexController as controller">
		<p>{{ HelloWorld }}</p>
		<button ng-click="GetProject()">Click</button>
	</div>
</body>

<%- contentFor('js') %>

<script type="text/javascript" src="javascripts/controllers/IndexCtrl.js"></script>
<script type="text/javascript" src="javascripts/services/ProjectService.js"></script>

<%- contentFor('css') %>