body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ng-invalid.ng-dirty {
	border-color: red;
}

.ng-valid.ng-dirty {
	border-color: green;
}

/* Use media inside of nav bar without starting a new line */
.navbar-header > .media > .media-body {
	width: 0px;
}