<!DOCTYPE HTML>
    <html lang="en" ng-app="LoadUserControllers">
    <head>
        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/loadUserStyle.css">
        <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script type="text/javascript" src="/angular/angular.min.js"></script>
        <script type="text/javascript" src="/Services/UserService.js"></script>
        <script type="text/javascript" src="/LoadUser/LoadUserCtrl.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Oxygen:700,400' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="container">
            <div id="fundit-logo">
                <img src="/assets/images/fundit.svg"/>
            </div>
            <div id="login-container">
                <div id="message">
                    <p class="fade-in-message-1">Funny. You're not logged in through HSBC's <span class="red"> Single Sign On</span>.</p>
                    <p class="fade-in-message-2">You'll need to do one of two things:</p>
                </div>
                <div class="login-button">Log In</div>
                <div class="or">or</div>
                <div class="register-button">Register</div>
                <!-- Login Form -->
                <div id="login" ng-controller="LoginController">
                    <form name="loginForm" ng-submit="loginForm.$valid && login()" novalidate>
                        <input id="username-input" type='text' autocomplete="off" name='username' placeholder='Username' ng-model="form.username" required/>
                        <br/>
                        <input type='password' autocomplete="off" name='password' placeholder='Password' ng-model="form.password" required/>
                        <br/>
                        <button id="login-submit" type='submit'>></button>
                    </form>
                </div>
                
                <!-- Register Form-->
                <div id="register" ng-controller="RegisterController">
                    <form name="registerForm" ng-submit="registerForm.$valid && register()" novalidate>
                        <input id="username-reg-input" type='text' autocomplete="off" name='username' placeholder='Username' ng-model="form.username" required/>
                        <br/>
                        <input type='password' autocomplete="off" name='password' , placeholder='Password' ng-model="form.password" required/>
                        <br/>
                        <input type='text' autocomplete="off" name='first_name' placeholder='First Name' ng-model="form.first_name" required/>
                        <br/>
                        <input type='text' autocomplete="off" name='last_name' placeholder='Last Name' ng-model="form.last_name" required/>
                        <br/>
                        <input type='text' autocomplete="off" name='title' placeholder='Job Role' ng-model="form.title" required/>
                        <br/>
                        <input type='text' autocomplete="off" name='department' placeholder='Department' ng-model="form.department" required/>
                        <br/>
                        <input type='text' autocomplete="off" name='location' placeholder='Country' ng-model="form.location" required/>
                        <br/>
                        <input type='email' autocomplete="off" name='email' placeholder='Email' ng-model="form.email" required/>
                        <br/>
                        <button id="register-submit" type='submit'>></button>
                    </form>
                </div>
            </div>
            <div id="footer">
                    <img class="footer-left" src="/assets/images/powered_by_innovate@HSBC.png" />
            </div>
        </div>
        <script type="text/javascript" src="/assets/loaduser/loadUser.js"></script>
    </body>
</html>
