<div id="fund-modal" class="modal project-modal fund-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="fund-close" type="button" class="close" ng-click="dismissModal()" data-target="#fund-modal" data-dismiss="modal" aria-hidden="true" style="z-index: 1000;">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <h1 class="title">
                        {{ project.title }}
                    </h1>
                    <p>
                        I agree to Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div id="accept" class="col-md-4 col-sm-4 col-xs-12">
                            <div id="accept-check-box" class="check-box" check="{{accepted}}" ng-click="accept()">&#10004</div>
                            I accept
                        </div>
                        <div id="emp-id" class="col-md-8 col-sm-8 col-xs-12">
                            Employee ID:
                            <input id="emp-id-input" type="text" ng-model="employee_id" />
                        </div>
                        <div id="amount-input" class="col-md-12 col-sm-12 col-xs-12">
                            <p>AMOUNT OF MONEY</p>
                            <input id="fund_amount" type="number" ng-model="fund_amount" />
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div id="fund-confirm-button" ng-click="fundProject(project, fund_amount)"></div>
                        </div>
                        <div id="fund-message" class="col-md-12 col-sm-12 col-xs-12">
                            <div ng-show="funded" class="check-box" check="true">&#10004</div>{{message}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
