<div class="modal project-modal create-project">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="dismissModal()" data-dismiss="modal" aria-hidden="true" style="z-index: 1000;">&times;</button>
			</div>
			<div class="modal-body row">
				<div class="col-md-3 create-user-info">
					<div id="create-project-category-icon" style="background: {{ categoryColor }};">
						<img ng-src="/assets/icons/category-icons/{{form.category}}w.svg"/>
					</div>
					<a ng-click="closeModalAndRedirect()"  data-dismiss="modal">
						<img class="creator-img media-object img-circle" ng-src="{{$root.user.image}}"/>
					</a>
					<p class="project-view-creator-name">
						{{project.creator.first_name + " " + project.creator.last_name | uppercase }}
					</p>
					<div class="col-sm-2 col-md-12">
						<p>TITLE:</p>
						{{ user.title }}
					</div>
					<div class="col-sm-2 col-md-12">
						<p>DEPARTMENT:</p>
						{{ user.department }}
					</div>
					<div class="col-sm-2 col-md-12">
						<p>LOCATION:</p>
						{{ user.location }}
					</div>
					<div class="col-sm-2 col-md-12">
						<p>EMAIL:</p>
						{{ user.email }}
					</div>
					<div class="col-sm-2 col-md-12">
						<p>PROJECTS FUNDED:</p>
						{{ user.funded.length }}
					</div>
					<div class="col-sm-2 col-md-12">
						<p>PROJECTS CREATED:</p>
						{{ user.projects.length }}
					</div>
					<div class="col-sm-2 col-md-12">
						<p>PROJECTS ENDORSED:</p>
						{{ user.following.length }}
					</div>
					<!-- Tool Tip -->
					<div class="col-sm-2 col-md-12" id="create-tool-tip">
						<img src="/assets/images/light-bulb.png">
						<p>{{ toolTipText }}</p>
					</div>
				</div>
				
				<div class="col-md-9" id="create-project-main">
					<h1 class="col-md-12">CREATE A PROJECT</h1>
					<div class="col-md-12">
						IN
						<select id="create-project-category" form="createProjectForm" ng-model="form.category" ng-change="selectedCategory()" required>
							<option value="" disabled selected>Choose Category...</option>
						    <option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
						</select>
					</div>
					<div class="col-md-12">
						<form class="form-container" name="createProjectForm" ng-submit="createProjectForm.$valid && createProject()" novalidate>
							<div class="row">
								<input ng-click="setToolTip('title')" class="col-md-12 col-sm-12 create-input" placeholder="PROJECT TITLE" type='text' name='title' ng-model="form.title" required/><br/>
							</div>
							<!-- Upload Image Or Video -->
							<div class="row">
								<input id="upload-project-image" class="col-md-12 col-sm-12" name="file" type="file" id="file" file-model="project_image"/>
								<p class="upload-project-image-text">Drag and Drop file here</p>
							</div>
							
							<!--Project Summary -->
							<div class="row">
								<textarea ng-click="setToolTip('summary')" class="col-md-12 col-sm-12" placeholder="Project Summary" type='text' rows='3' name='summary' ng-model="form.summary" required/><br/>
							</div>
							<!-- Project Details-->
							<div class="row">
								<textarea ng-click="setToolTip('details')" class="col-md-12 col-sm-12" placeholder="Project Details" type='text' rows='6' name='description' ng-model="form.description" required/><br/>
							</div>
							<!-- Campaign Start Date-->
							<div class="row">
								<p id="create-project-date-text"> Campaign Start Date: </p>
								<input ng-click="setToolTip('startDate')" class="col-md-12 col-sm-12" placeholder="Campaign Start Date" type='date' name='start_date' ng-model="form.start_date" required/><br/>
							</div>
							<!-- Funding Goal-->
							<div class="row">
								<input ng-click="setToolTip('fundGoal')" class="col-md-12 col-sm-12 create-input"  placeholder="Funding Goal" type='number' name='budget' ng-model="form.budget" required/><br/>
							</div>
							<!-- Value Proposition-->
							<div class="row">
								<textarea ng-click="setToolTip('valueProposition')" class="col-md-12 col-sm-12" placeholder="Value Proposition" type='text' rows='6' name='value_proposition' ng-model="form.value_proposition" required/><br/>
							</div>
							<div class="row">
								<!-- Added Resources -->
								<div ng-repeat="resource in form.resources" class="col-md-12 col-sm-12 added-resource">
									Resource #{{ $index + 1 }}
									<input ng-click="setToolTip('resourceRole')" class="col-md-12 col-sm-12 resource" type='text' name='resource_role'  ng-model="resource.role" placeholder='Resource Name'/>
		                        	<input ng-click="setToolTip('resourceDescription')"class="col-md-12 col-sm-12 resource" type='text' name='resource_description' ng-model="resource.description" placeholder='Resource Link'/>
								</div>
								<!-- New Resource -->
								<input ng-click="setToolTip('resourceRole')" class="col-md-12 col-sm-12 resource resource-input-role" type='text' name='resource_role'  ng-model="resource_form_role" placeholder='Resource Name'/>
		                        <input ng-click="setToolTip('resourceDescription')"class="col-md-12 col-sm-12 resource" type='text' name='resource_description' ng-model="resource_form_description" placeholder='Resource Link'/>
								<img class="resource-link-icon" src="/assets/icons/misc-icon/link.svg"/>
        		                <div id="add-resource-button" ng-click="addResource()">Add more <img class="resource-icon" src="/assets/icons/misc-icon/attachment.svg"></div>
							</div>
						</form>
						<div class="create-project-buttons">
							<button class="btn green left" ng-click="$root.showNotImplemented()">Save</button>
							<button class="btn left " ng-click="openSubModal()">Preview</button>
							<button ng-hide="true" class="btn green right" id="submit-project" type='submit' data-dismiss="modal">Submit Project</button>
							<button class="btn green right" ng-click="submitProject()">Submit Project</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
