<div class="row">
	<form name="createProjectForm" ng-submit="createProjectForm.$valid && createProject()" novalidate>
		<input type='text' 		name='title'       placeholder='Enter Title'      ng-model="form.title"      required/><br/>
		<input type='date'      name='start_date'  placeholder='start date' 	     ng-model="form.start_date" required/><br/>
		<input type='date' 		name='end_date'	   placeholder='end date'         ng-model="form.end_date"   required/><br/>
		<input type='number' 	name='budget'      placeholder='budget'           ng-model="form.budget"     required/><br/>
		<input type='text' 		name='description' placeholder='description' 	 ng-model="form.description" 	    required/><br/>
		<input type='text' 		name='breakdown'  placeholder='breakdown ' ng-model="form.budget_breakdown" required/><br/>
		<input type='text' 		name='challenges'    placeholder='challenges'   ng-model="form.challenges"   required/><br/>
		<input type='text' 	name='value_proposition' 	   placeholder='value_proposition' 	 ng-model="form.value_proposition" 	    required/><br/>
		<select ng-model="form.category" required>
		  <option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
		</select>
		<select ng-model="form.city" required>
			<option ng-repeat="city in cities" value="{{city.name}}">{{city.name}}</option>
		</select>
		<br/>
		Resources:<br/>
		<div>
			<input type='text' name='resource_role'  ng-model="resource_form_role" placeholder='role'/>
			<input type='text' name='resource_description' ng-model="resource_form_description" placeholder='description'/>
			<button id="add-resource-button" ng-click="addResource()">Add Resource</button>
		</div>
		Image: <br/>
		<input name="file" type="file" id="file" file-model="project_image" />
		<button type='submit'>Submit Project</button>
	</form>
</div>