<div id="project-modal" class="modal project-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="dismissModal()" data-dismiss="modal" data-target="#project-modal" aria-hidden="true" style="z-index: 1000;">&times;</button>
            </div>
            <div class="modal-body">
                <div id="projectCarousel" class="carousel slide" data-interval="false" data-ride="carousel" class="row">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div ng-repeat="project in filteredProjects" class="item row project-view-slide" ng-class="{active: $index==currentIndex}">
                            <div class="project-view-container row">
                                <!-- Left sidebar -->
                                <div class="project-view-sidebar col-md-2">
                                    <div class="side-cat-icon" style="background: {{project.background_color}}">
                                        <img ng-src="/assets/icons/category-icons/{{project.category.name}}w.svg" />
                                    </div>
                                    <!-- Creator Image -->
                                    <a ng-click="closeModalAndRedirect('/profileView/' + project.creator._id)" data-dismiss="modal"><img class="creator-img media-object img-circle" ng-src="{{project.creator.image}}" /></a>
                                    <p class="project-view-creator-name">{{project.creator.first_name + " " + project.creator.last_name | uppercase }}</p>
                                    <div class="project-sidebar-user-info">
                                        <div class="col-sm-2 col-md-12">
                                            <p>TITLE:</p>
                                            {{ user.title }}
                                        </div>
                                        <div class="col-sm-2 col-md-12">
                                            <p>DEPARTMENT:</p>
                                            {{ user.department }}
                                        </div>
                                        <div class="col-sm-2 col-md-12">
                                            <p>LOCATION:</p>
                                            {{ user.location }}
                                        </div>
                                        <div class="col-sm-2 col-md-12">
                                            <p>EMAIL:</p>
                                            {{ user.email }}
                                        </div>
                                        <div class="col-sm-2 col-md-12">
                                            <p>PROJECTS FUNDED:</p>
                                            {{ user.funded.length }}
                                        </div>
                                        <div class="col-sm-2 col-md-12">
                                            <p>PROJECTS CREATED:</p>
                                            {{ user.projects.length }}
                                        </div>
                                        <div class="col-sm-2 col-md-12">
                                            <p>PROJECTS ENDORSED:</p>
                                            {{ user.following.length }}
                                        </div>
                                    </div>
                                </div>
                                <!-- Main Information -->
                                <div class="project-view-main col-md-10">
                                    <div class="row col-md-12 project-title">
                                        <h1>{{ project.title }}</h1>
                                    </div>
                                    <!-- Image and Numbers -->
                                    <div class="row image-numbers">
                                        <div class="col-md-7">
                                            <img class="project-image" ng-src="{{ project.image }}" />
                                            <p class="project-launch">Funding Start Date: {{ project.start_date | date }}</p>
                                            <p class="project-id">Project ID: {{ (project._id).substring(18,24) }}</p>
                                        </div>
                                        <div class="col-md-4">
                                            <!-- Funded -->
                                            <div class="progress-bar-group">
                                                <img class="progress-image" src="/assets/icons/card-icons/Fund.svg" />
                                                <div class="progress-bar-label">
                                                    <div class="progress-bar-label-name">FUNDED</div>
                                                    <div class="progress-bar-label-value">
                                                        <div>$ {{ project.funded | number }}</div>
                                                        <div>out of $ {{ project.budget | number }}</div>
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.funded / project.budget * 100}}%;"></div>
                                                </div>
                                            </div>
                                            <!-- Days Left-->
                                            <div class="progress-bar-group">
                                                <img class="progress-image" src="/assets/icons/card-icons/Clock.svg" />
                                                <div class="progress-bar-label">
                                                    <div class="progress-bar-label-name">DAYS LEFT</div>
                                                    <div class="progress-bar-label-value">
                                                        <div>{{ project.days_left }}</div>
                                                        <div>out of 30</div>
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ (project.days_left / 30) * 100 }}%;"></div>
                                                </div>
                                            </div>
                                            <!-- Endorsers-->
                                            <div class="project-progress-group">
                                                <img class="progress-image" src="/assets/icons/card-icons/Star.svg" />
                                                <div class="progress-bar-label">
                                                    <div class="progress-bar-label-name">ENDORSED</div>
                                                    <div class="progress-bar-label-value">
                                                        <div>{{ project.followers.length }}</div>
                                                        <div>times</div>
                                                    </div>
                                                </div>
                                                <!-- Backers -->
                                                <div class="project-progress-group">
                                                    <img class="progress-image" src="/assets/icons/misc-icon/backer.svg" />
                                                    <div class="progress-bar-label">
                                                        <div class="progress-bar-label-name">BACKERS</div>
                                                        <div class="progress-bar-label-value">
                                                            <div>{{ project.backers.length }}</div>
                                                            <div>Budget Owners</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Description and Invitation -->
                                        <div class="row text">
                                            <div class="col-md-12">
                                                <p class="project-view-section-text summary">{{ project.summary }}</p>
                                            </div>
                                        </div>
                                        <!-- Backers
										<span class="project-view-section-header">Backers:</span><br/>
										<div ng-repeat="backer in project.backers">
											{{backer.user_id.first_name + " " + backer.user_id.last_name }}<br/>
											${{backer.funded | number}}
										</div>
									</div>

								 -->
                                    </div>
                                </div>
                                <!-- Separation Bar -->
                                <div id="main-section-separator" class="col-md-12 col-sm-12">
                                    <!-- Endorse Button -->
                                    <div class="col-md-2 separator-button">
                                        <img ng-click="followProject(project._id)" src="/assets/icons/card-icons/Star.svg" />
                                        <p>Endorse</p>
                                    </div>
                                    <!-- Comment Button -->
                                    <div class="col-md-2 separator-button">
                                        <img ng-click="showComments()" src="/assets/buttons/project-view/comment.svg" />
                                        <p>Comment</p>
                                    </div>
                                    <!-- Backer Button -->
                                    <div class="col-md-2 separator-button">
                                        <img ng-click="showBackers()" src="/assets/icons/misc-icon/backer.svg" />
                                        <p>Backers</p>
                                    </div>
                                    <!-- Share Button -->
                                    <div class="col-md-2 separator-button">
                                        <a href="mailto:%20?&subject=Check%20Out%20This%20Project%20On%20FundIT!&body={{project.title}}%0A%0A{{project.summary}}%0A%0Awww.fundit.com">
                                            <img src="/assets/buttons/project-view/share.svg"/>
                                        </a>
                                        <p>Share</p>
                                    </div>
                                    <!-- FundIT Button -->
                                    <div class="col-md-4 separator-button">
                                        <img id="fundit-button" ng-click="fund()" src="/assets/images/Fundit_Button.svg" />
                                    </div>
                                </div>
                                <!-- Continuation of Main Section -->
                                <div class="project-view-main main-second col-md-10 col-md-offset-2">
                                    <!-- Project Details Section -->
                                    <div ng-show="showSection.showDetails" class="row text">
                                        <div class="col-md-12">
                                            <!-- Value Proposition -->
                                            <div class="project-view-section-header">Value Proposition:</div>
                                            <p class="project-view-section-text">{{ project.value_proposition }}</p>
                                            <!-- Project Details -->
                                            <div class="project-view-section-header">Project Details:</div>
                                            <p class="project-view-section-text">{{ project.description }}</p>
                                            <!-- Resources -->
                                            <div class="project-view-section-header">Resources:</div>
                                            <a ng-repeat="resource in project.resources" class="project-resource" target="_blank" ng-href="{{ resource.description | link }}">{{ resource.role }}<br/></a>
                                            <p class="project-view-section-text" ng-show="project.resources.length === 0">No Resources</p>
                                        </div>
                                    </div>
                                    <!-- Comments Section -->
                                    <div ng-show="showSection.showComments" class="row text">
                                        <div class="col-md-12 comments-area">
                                            <!-- Comments -->
                                            <div class="project-view-section-header">Comments:</div>
                                            <div ng-repeat="comment in project.comments" class="project-comment">
                                                <a href="" ng-click="closeModalAndRedirect('/profileView/' + comment.user_id._id)" data-dismiss="modal"> <img class="media-object img-circle" ng-src="{{comment.user_id.image}}" /></a>
                                                <p>{{comment.user_id.first_name + " " + comment.user_id.last_name}} : {{ comment.comment }}</p>
                                                <p>@ {{comment.timestamp | date:'MM/dd/yyyy at h:mma'}}</p>
                                            </div>
                                            <p class="project-view-section-text" ng-show="project.comments.length === 0">No Comments</p>
                                            <div id="add-comment" ng-click="addComment()">Add Comment</div>
                                            <div class="go-details" ng-click="showDetails()">Back To Project</div>
                                        </div>
                                    </div>
                                    <!-- Backers Section -->
                                    <div ng-show="showSection.showBackers" class="row text">
                                        <div class="col-md-12">
                                            <div ng-repeat="backer in project.backers" class="project-backer">
                                                <a ng-click="closeModalAndRedirect('/profileView/' + backer.user_id._id)" data-dismiss="modal"><img class="media-object img-circle" ng-src="{{backer.user_id.image}}" /></a>
                                                <p>{{backer.user_id.first_name + " " + backer.user_id.last_name}} : ${{ backer.funded | number }}</p>
                                            </div>
                                            <p class="project-view-section-text" ng-show="project.backers.length === 0">No Backers</p>
                                            <div class="go-details" ng-click="showDetails()">Back To Project</div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" data-target="#projectCarousel" role="button" data-slide="prev" ng-click="slideLeft()" ng-hide="slideIndex === 0">
                            <img class="carousel-button" src="/assets/buttons/back.svg" />
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" data-target="#projectCarousel" role="button" data-slide="next" ng-click="slideRight()" ng-hide="slideIndex === filteredProjects.length - 1">
                            <img class="carousel-button" src="/assets/buttons/forward.svg" />
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
