<div ng-controller="IndexController as controller">
	<h2> You are logged in as: <%= user.username %> </h2>
	<a href='/users/logout'> Logout </a>  
	<p>{{ HelloWorld }}</p>
	<button ng-click="GetProject()">Click</button>
</div>

<%- contentFor('js') %>
<script type="text/javascript" src="javascripts/controllers/IndexCtrl.js"></script>
<script type="text/javascript" src="javascripts/services/ProjectService.js"></script>

<%- contentFor('css') %>